<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Animédas</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="resources/styles/style.css">
      <link rel="stylesheet" href="resources/styles/gallery.css">
      <link rel="icon" href="https://www.pngall.com/wp-content/uploads/2016/07/Anime-PNG-Images.png"/>
   </head>
   <body>
      <div class="main">
         <!-- header pc -->
         <header class="header-gallery">

            <div class="header-icone">
               <a href="/home">ANIMÉ<a href="/home" class="color-purple">DAS</a></a>
            </div>

         </header>
        
        <section class="anime-images">
            <div class="api-images">

            </div>

        </section>

      <footer class="footer" style="bottom: 0;">
        
        <div class="footer-things">
            <div class="image-random">
                  <img height="25px" style="border-radius: 10px;" src="https://www.pngall.com/wp-content/uploads/2016/07/Anime-PNG-Images.png">
            </div>

            <div class="footer-center">
              <a href="https://github.com/xDaswx/animedas" target="_blank" class="subs">Github</a>
              <a class="subs">Documentation</a>
              <a class="subs">Gallery</a>
              <a class="subs">Terms</a>
              <a href="https://github.com/xDaswx" target="_blank" class="subs">Contact</a>
            </div>
        </div>
      </footer>
      <script src="resources/scripts/animeloader.js"></script>
   </body>
</html>