<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Animédas</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="resources/styles/style.css">
      <link rel="stylesheet" href="resources/styles/gallery.css">
      <link rel="icon" href="https://www.pngall.com/wp-content/uploads/2016/07/Anime-PNG-Images.png"/>
   </head>
   <body>
      <div class="main">
         <!-- header pc -->
         <header class="header-gallery">

            <div class="header-icone">
               <a href="/home">ANIMÉ<a href="/home" class="color-purple">DAS</a></a>
            </div>

         </header>
        
        <section class="anime-images">
            <div class="api-images">

            </div>

        </section>

{{>../src/views/partials/footer}}