<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Animédas</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/resources/styles/style.css">
      <link rel="stylesheet" href="/resources/styles/gallery.css">
      <link rel="stylesheet" href="/resources/styles/preview.css">
      <link rel="icon" href="https://www.pngall.com/wp-content/uploads/2016/07/Anime-PNG-Images.png"/>
   </head>

    {{^have_images}}
        <body style="background-image: url('https://preview.redd.it/d1owe2n7ev181.png?width=640&crop=smart&auto=webp&s=42f4aa3bfb8f94d01e37e1f1f49a5fec395f1a46')">
    {{/have_images}}

    {{#have_images}}
        <body style="background-image: url('{{image.url}}')">
    {{/have_images}}
   
      <div class="main" style="backdrop-filter: blur(10px);">
         <!-- header pc -->
         <header class="header-gallery">

            <div class="header-icone">
               <a href="/home">ANIMÉ<a href="/home" class="color-purple">DAS</a></a>
            </div>

         </header>
        
        
      {{#have_images}}
        <section class="anime-images">
            <div class="box">
               <img src="{{image.url}}" width="540px" class="preview-image">
               <h3 class="description">{{image.description}}</h3>
            </div>

        </section>
        {{>../src/views/partials/footer}}
      {{/have_images}}

    {{^have_images}}
        <section class="anime-images">
            <div class="box">
               <img style="width:250px;text-align:center" src="https://preview.redd.it/d1owe2n7ev181.png?width=640&crop=smart&auto=webp&s=42f4aa3bfb8f94d01e37e1f1f49a5fec395f1a46" width="140px" class="preview-image">
               <h3 class="description">You have encountered emptiness, there is nothing here.<br><a href="/home">Go to home</a></h3>
            </div>

        </section>
      {{/have_images}}
      </div>  
      

      
   </body>
</html>