         <div class="all-containers">
            <section class="apresention hero-bg">
               <div class="apresention-content">
                  <div class="apis">
                     <div class="apis-status">api.waifu.im</div>
                     <div class="apis-status">waifu.im</div>
                     <div class="apis-status">waifu.pics</div>
                  </div>
                  <h1 class="title ">Another api to get some anime icons<br>- O -</h1>
                  <p class="paragh">This website is a combination of some distributors of sfw anime photos (safe for work), and also with additional images created by artificial intelligence, there are other apis with the same purpose<br>but me making my own is more interesting for me.</p>
                  <div class="buttons-apresention">
                     <a class="btn" href="gallery.html">Gallery</a>
                  </div>
               </div>
               <div class="apresention-image"> 
                  <!-- https://i.waifu.pics/~p5W9~k.png -->
                  <!-- https://i.waifu.pics/bwCsw8q.jpg -->
                  <img src='resources/anime-main.png' class="anime-girl">
               </div>
            </section>
            <div class="broken"></div>
            <div class="api-docs">
               <!-- Junk -->
               <!-- <marquee scrollamount="1" style="color: white;" behavior="alternate">
                  ☜(⌒▽⌒)☞     
                  </marquee>  -->
               <div class="information">
                  <div class="information-icon">
                     <span class="material-symbols-outlined">error</span>
                  </div>
                  <div class="information-info">
                     <h4>Update!</h4>
                     <p>The icons api of this website (animédas) is still under development, soon it will be released and documented here too :)</p>
                  </div>
               </div>
            </div>
            <section class="list">
               <div class="info">
                  <div class="nsfw size-list left-side-border">
                     <div class="img">
                        <img class="list-img" src="https://i.pinimg.com/236x/71/08/b6/7108b67c7884842d69b1e007b4953faa.jpg">
                     </div>
                     <div class="desc">
                        <h2 class="title">Safe for work</h2>
                        <p>Don't worry about inappropriate content on the API, I would like to reassure you that, in most cases, these images go through a filtering process to prevent the presence of NSFW (Not Safe for Work) content and thus avoiding uncomfortable images.</p>
                     </div>
                  </div>
                  
                  <div class="see-docs size-list center-list">
                     <div class="img">
                        <img class="list-img" src="https://i.pinimg.com/564x/8b/38/a0/8b38a0ae13964b3bb99d80204b07b0ad.jpg">
                     </div>
                     <div class="desc">
                        <h2 class="title">Documentation</h2>
                        <p>If you want to use the Animédas API without any problems, please refer to the documentation. The API is designed to provide access to the vast collection of anime-inspired icons available on our website. <br></p>
                     </div>
                     <div class="buttons-apresention">
                        <button class="btn" style="text-align: center;"><span class="material-symbols-outlined">code</span><span>Documentation</span></button>
                        
                     </div>
                  </div>
                  
                  <div class="online24 size-list  right-side-border">
                     <div class="img">
                        <img class="list-img" src="https://i.pinimg.com/564x/78/e0/d3/78e0d3451a78a88d92df4872fcb099dc.jpg">
                     </div>
                     <div class="desc">
                        <h2 class="title">Versatile</h2>
                        <p>API contains images with tags and categories to make it easier for devs to use. Tags are keywords that describe the content of the icons, allowing users to easily find what they are looking for. Categories are a way of grouping icons by theme, such as anime characters.</p>
                     </div>
                  </div>
               </div>
            </section>

            <section class="recomendations">
                <!-- title reccom -->
               <div class="recomen-title">
                    <h1 class="title">
                        Recommendations
                    </h1>

                    <p class="recomen-para">
                        There are several APIs that provide similar features to Animédas for finding and downloading anime-inspired images. <br>Some examples include:
                    </p>
                </div>
                <!-- finish title reccom  -->
                
                <div class="nice-apis">
                    
                     <div class="apis-waifu">
                        
                        <!-- div list Recommendations -->
                        <!-- waifu.pics reccm -->
                        <div class="api-info">
                            <div class="api-waifu-init">
                                 <div class="title">
                                    
                                    <img height="50px" style="padding: 12px;" src="https://publicapi.dev/images/logos/waifu.pics.png">
                                    <h1>Waifu.pics</h1><p style="font-size: 8px;color: rgb(70, 190, 96);border-radius: 5px;width: 100px;font-weight: bold;">SFW <span style="font-size: 8px;color: rgb(207, 200, 200);">/</span><span style="font-size: 8px;color: rgb(190, 72, 70);"> NSFW</span></p> 
                                    
                                 </div>
                                 
                                 <div class="parag">
                                       <p>Waifu.pics is a website that provides a large collection of anime and manga images, organized into different categories, such as female characters, male characters, couples, among others. The site was created to be a source of high quality images for anime and manga fans who want to find and download images of their favorite characters.</p>
                                 </div>
                            </div>
                            <div class="extern-link">
                              <a href="https://waifu.pics/"  target="_blank" class="website"><span class="material-symbols-outlined" style="font-size: 14px;" >tab_group</span>Site</a>
                              <a href="https://waifu.pics/docs" target="_blank" class="docs"><span class="material-symbols-outlined">code</span> Docs</a>
                            </div>
                        </div>

                        <!-- waifu.im reccom -->
                        <div class="api-info">
                           <div class="api-waifu-init">
                                <div class="title">
                                   <img height="50px" style="padding: 12px;" src="https://www.waifu.im/favicon.ico">
                                   <h1>Waifu.im</h1><p style="font-size: 8px;color: rgb(70, 190, 96);border-radius: 5px;width: 100px;font-weight: bold;">SFW <span style="font-size: 8px;color: rgb(207, 200, 200);">/</span><span style="font-size: 8px;color: rgb(190, 72, 70);"> NSFW</span></p> 
                                </div>
                                
                                <div class="parag">
                                      <p>Waifu.im and Waifu.pics are similar platforms that allow users to download the avatars they have created in various sizes for use on social media profiles, forums, personal websites, and more, with the ability to download and share these avatars in various sizes and communities of users.</p>
                                </div>
                           </div>
                           <div class="extern-link">
                              <a href="https://waifu.im/"  target="_blank" class="website"><span class="material-symbols-outlined" style="font-size: 14px;" >tab_group</span>Site</a>
                             <a href="https://www.waifu.im/docs/" target="_blank" class="docs"><span class="material-symbols-outlined">code</span> Docs</a>
                           </div>
                       </div>


                        <!-- nekos.best im reccom -->
                        <div class="api-info">
                           <div class="api-waifu-init">
                                <div class="title">
                                   <img height="50px" style="padding: 12px;" src="https://nekos.best/favicon.png">
                                   <h1>Nekos.best</h1><p style="font-size: 8px;color: rgb(70, 190, 96);border-radius: 5px;width: 100px;font-weight: bold;">SFW</p>  
                                </div>
                                
                                <div class="parag">
                                      <p>Nekos.best is a website that provides APIs related to anime and manga content for use by software developers in creating applications, bots, games, and other services related to the world of anime and manga like images.</p>
                                </div>
                           </div>
                           <div class="extern-link">
                              <a href="https://nekos.best/" target="_blank" class="website"><span class="material-symbols-outlined" style="font-size: 14px;" >tab_group</span>Site</a>
                             <a href="https://docs.nekos.best/index.html" target="_blank" class="docs"><span class="material-symbols-outlined">code</span> Docs</a>
                           </div>
                       </div>


                        <!-- trace.moe reccom -->
                        <div class="api-info">
                           <div class="api-waifu-init">
                                <div class="title">
                                   <img height="50px" style="padding: 12px;" src="https://trace.moe/favicon.png">
                                   <h1>Trace.moe</h1><p style="font-size: 8px;color: rgb(155, 155, 155);border-radius: 5px;width: 100px;font-weight: bold;">NEUTRAL</p>  
                                </div>
                                
                                <div class="parag">
                                      <p>Trace.moe is an anime recognition tool that allows users to search for the title of an anime just by uploading an image or video. It uses an image recognition algorithm to analyze the scene and then compares the results with a database of anime to identify the anime title, episode, and exact moment the scene appears.</p>
                                </div>
                           </div>
                           <div class="extern-link">
                              <a href="https://trace.moe/"  target="_blank" class="website"><span class="material-symbols-outlined" style="font-size: 14px;" >tab_group</span>Site</a>
                             <a href="https://soruly.github.io/trace.moe-api/#/docs" target="_blank" class="docs"><span class="material-symbols-outlined" >code</span> Docs</a>
                           </div>
                       </div>
                        


                    </div>

                </div>
                
            </section>

            <section class="statics">
                <!-- title statics -->
               <!-- <div class="recomen-title">
                  <h1 class="title">
                     Statics
                  </h1>
               </div> -->
              <!-- finish title statics  -->
            </section>

         </div>